APP_ENV=production
NODE_ENV=production

PORT=8080
HOST=0.0.0.0

DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=123
DB_NAME=financas_prod

GMAIL_USER=seu-email@gmail.com
GMAIL_APP_PASS=sua-senha-de-app
